# TW1

## Pandas Series and DataFrame

- Practice Pandas Series and DataFrame with examples.

#### Write full names of your team members who worked together.
Madeline Ambrose



#### Submission:

- Push the completed code to your Github repository.

## Part 0

Practice Pandas Series and DataFrame with the given examples.

In [6]:
import pandas as pd

In [2]:
alist = ['Mouse', 'Giraffe', 'Tiger', 'Dog', 'Hippopotamus', 'Moose', 'Bear']
animals = pd.Series(alist)
animals

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [3]:
animals[2]

'Tiger'

In [4]:
animals.iloc[2]

'Tiger'

In [5]:
animals.loc[2]

'Tiger'

In [6]:
s1 = pd.Series(alist, index=[0, 1, 2, 3, 4, 5, 6])
s1

0           Mouse
1         Giraffe
2           Tiger
3             Dog
4    Hippopotamus
5           Moose
6            Bear
dtype: object

In [7]:
s2 = pd.Series(alist, index=['a', 'b', 'c', 'd', 'e', 'f', 'g'])
s2

a           Mouse
b         Giraffe
c           Tiger
d             Dog
e    Hippopotamus
f           Moose
g            Bear
dtype: object

In [8]:
s2['c']

'Tiger'

In [9]:
s2.loc['c']

'Tiger'

In [10]:
s2.iloc[2]

'Tiger'

In [11]:
names = ['Chris', 'Kevin', 'Bob', 'Vinod', 'Daniel', 'Fil', 'Stephanie']
owners = pd.Series(names)
owners

0        Chris
1        Kevin
2          Bob
3        Vinod
4       Daniel
5          Fil
6    Stephanie
dtype: object

In [12]:
frame = {'animals': animals, 'owners': owners}

df = pd.DataFrame(frame)

df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [13]:
df.columns

Index(['animals', 'owners'], dtype='object')

In [14]:
df.index

RangeIndex(start=0, stop=7, step=1)

In [15]:
type(df['animals'])

pandas.core.series.Series

In [16]:
df.iloc[0]

animals    Mouse
owners     Chris
Name: 0, dtype: object

In [17]:
df.loc[0][1]

'Chris'

In [18]:
# copy an existing DataFrame to create a new dataFrame
copy_df = df.copy()
copy_df

        animals     owners
0         Mouse      Chris
1       Giraffe      Kevin
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [19]:
# drop columns

df2 = df.drop(['owners'], axis = 1)

df2

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [20]:
# drop columns

df3 = df.drop(columns = ['owners'])

df3

        animals
0         Mouse
1       Giraffe
2         Tiger
3           Dog
4  Hippopotamus
5         Moose
6          Bear

In [21]:
# drop rows

df4 = df.drop([0,1])
df4

        animals     owners
2         Tiger        Bob
3           Dog      Vinod
4  Hippopotamus     Daniel
5         Moose        Fil
6          Bear  Stephanie

In [22]:
midx = pd.MultiIndex(levels=[['lama', 'cow', 'falcon'],
                             ['speed', 'weight']],
                     codes=[[0, 0, 1, 1, 2, 2],
                            [0, 1, 0, 1, 0, 1]])

midx

MultiIndex([(  'lama',  'speed'),
            (  'lama', 'weight'),
            (   'cow',  'speed'),
            (   'cow', 'weight'),
            ('falcon',  'speed'),
            ('falcon', 'weight')],
           )

In [23]:
df = pd.DataFrame(index=midx, columns=['big', 'small'],
                   data=[[45, 30], [200, 100], [30, 20], [250, 150], [320, 250],[1, 0.8]])

df

               big  small
lama   speed    45   30.0
       weight  200  100.0
cow    speed    30   20.0
       weight  250  150.0
falcon speed   320  250.0
       weight    1    0.8

In [24]:
df.drop(index='cow', columns='small')

               big
lama   speed    45
       weight  200
falcon speed   320
       weight    1

In [25]:
df.drop(index='weight', level=1)

              big  small
lama   speed   45   30.0
cow    speed   30   20.0
falcon speed  320  250.0

## Part 1 Task 1

Given the data below, implement each tasks. 

<img src="img/df.png" style="height:200px"> 

(1) Create a DataFrame.

(2) Access the first row data and print it.

(3) Access the first column data (indexed by 'dept') and print it.

(4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

In [9]:
# (1) Create a DataFrame.
d_list = ['CS', 'Bio', 'Chem', 'Phy', 'Eng']
dept = pd.Series(d_list)

f_list = ['5', '3', '3', '2', '4']
floor = pd.Series(f_list)

frame = {'dept' : dept, 'floor': floor}
df = pd.DataFrame(frame)
df

   dept floor
0    CS     5
1   Bio     3
2  Chem     3
3   Phy     2
4   Eng     4

In [10]:
# (2) Access the first row data and print it.
df.iloc[0]

dept     CS
floor     5
Name: 0, dtype: object

In [11]:
# (3) Access the first column data (indexed by 'dept') and print it.

# Accessing the first column data (the dept column) and print it 
print(df.dept)

0      CS
1     Bio
2    Chem
3     Phy
4     Eng
Name: dept, dtype: object

In [15]:
# (4) Create a new DataFrame by dropping the 2nd column data (indexed by 'floor') from the current DataFrame.

# Creating a copy of the existing DataFrame to create a new DataFrame
df_copy = df.copy()

# Dropping the 2nd column data ('floor') from the current DataFrame 
df2 = df.drop(columns = ['floor'])

# Print out the results
print("Copy of the original DataFrame: ")
print(df_copy)
print("\n")
print("Old DataFrame with the 2nd column data dropped (indexed by 'floor'): ")
print(df2)

Copy of the original DataFrame:
   dept floor
0    CS     5
1   Bio     3
2  Chem     3
3   Phy     2
4   Eng     4


Old DataFrame with the 2nd column data dropped (indexed by 'floor'):
   dept
0    CS
1   Bio
2  Chem
3   Phy
4   Eng

## Part 1 Task 2

Practice with a data file. 

(1) Choose one data file from the data folder in the given TW1 folder.

(2) Read the data into a DataFrame. 

(3) Access the rows and columns. 

(4) Drop some columns.

In [19]:
# (1) Choose one data file from the data folder in the given TW1 folder.
# (2) Read the data into a DataFrame.
cars = pd.read_csv('./cars.csv')
print(cars)

    YEAR        Make                            Model                   Size  \
0   2012  MITSUBISHI                           i-MiEV             SUBCOMPACT
1   2012      NISSAN                             LEAF               MID-SIZE
2   2013        FORD                   FOCUS ELECTRIC                COMPACT
3   2013  MITSUBISHI                           i-MiEV             SUBCOMPACT
4   2013      NISSAN                             LEAF               MID-SIZE
5   2013       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
6   2013       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
7   2013       TESLA         MODEL S (40 kWh battery)              FULL-SIZE
8   2013       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
9   2013       TESLA         MODEL S (85 kWh battery)              FULL-SIZE
10  2013       TESLA              MODEL S PERFORMANCE              FULL-SIZE
11  2014   CHEVROLET                         SPARK EV             SUBCOMPACT
12  2014        FORD                   FOCUS ELECTRIC                COMPACT
13  2014  MITSUBISHI                           i-MiEV             SUBCOMPACT
14  2014      NISSAN                             LEAF               MID-SIZE
15  2014       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
16  2014       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
17  2014       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
18  2014       TESLA         MODEL S (85 kWh battery)              FULL-SIZE
19  2014       TESLA              MODEL S PERFORMANCE              FULL-SIZE
20  2015         BMW                               i3             SUBCOMPACT
21  2015   CHEVROLET                         SPARK EV             SUBCOMPACT
22  2015        FORD                   FOCUS ELECTRIC                COMPACT
23  2015         KIA                          SOUL EV  STATION WAGON - SMALL
24  2015  MITSUBISHI                           i-MiEV             SUBCOMPACT
25  2015      NISSAN                             LEAF               MID-SIZE
26  2015       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
27  2015       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
28  2015       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
29  2015       TESLA         MODEL S (70 kWh battery)              FULL-SIZE
30  2015       TESLA      MODEL S (85/90 kWh battery)              FULL-SIZE
31  2015       TESLA                      MODEL S 70D              FULL-SIZE
32  2015       TESLA                  MODEL S 85D/90D              FULL-SIZE
33  2015       TESLA                MODEL S P85D/P90D              FULL-SIZE
34  2016         BMW                               i3             SUBCOMPACT
35  2016   CHEVROLET                         SPARK EV             SUBCOMPACT
36  2016        FORD                   FOCUS ELECTRIC                COMPACT
37  2016         KIA                          SOUL EV  STATION WAGON - SMALL
38  2016  MITSUBISHI                           i-MiEV             SUBCOMPACT
39  2016      NISSAN            LEAF (24 kWh battery)               MID-SIZE
40  2016      NISSAN            LEAF (30 kWh battery)               MID-SIZE
41  2016       SMART  FORTWO ELECTRIC DRIVE CABRIOLET             TWO-SEATER
42  2016       SMART      FORTWO ELECTRIC DRIVE COUPE             TWO-SEATER
43  2016       TESLA         MODEL S (60 kWh battery)              FULL-SIZE
44  2016       TESLA         MODEL S (70 kWh battery)              FULL-SIZE
45  2016       TESLA      MODEL S (85/90 kWh battery)              FULL-SIZE
46  2016       TESLA                      MODEL S 70D              FULL-SIZE
47  2016       TESLA                  MODEL S 85D/90D              FULL-SIZE
48  2016       TESLA            MODEL S 90D (Refresh)              FULL-SIZE
49  2016       TESLA                MODEL S P85D/P90D              FULL-SIZE
50  2016       TESLA           MODEL S P90D (Refresh)              FULL-SIZE
51  2016       TESLA                      MODEL X 90D         SUV - STANDARD
52  2016       TESLA                     MODEL X P90D         SUV - STANDARD

    (kW) Unnamed: 5 TYPE  CITY (kWh/100 km)  HWY (kWh/100 km)  \
0     49         A1    B               16.9              21.4
1     80         A1    B               19.3              23.0
2    107         A1    B               19.0              21.1
3     49         A1    B               16.9              21.4
4     80         A1    B               19.3              23.0
5     35         A1    B               17.2              22.5
6     35         A1    B               17.2              22.5
7    270         A1    B               22.4              21.9
8    270         A1    B               22.2              21.7
9    270         A1    B               23.8              23.2
10   310         A1    B               23.9              23.2
11   104         A1    B               16.0              19.6
12   107         A1    B               19.0              21.1
13    49         A1    B               16.9              21.4
14    80         A1    B               16.5              20.8
15    35         A1    B               17.2              22.5
16    35         A1    B               17.2              22.5
17   225         A1    B               22.2              21.7
18   270         A1    B               23.8              23.2
19   310         A1    B               23.9              23.2
20   125         A1    B               15.2              18.8
21   104         A1    B               16.0              19.6
22   107         A1    B               19.0              21.1
23    81         A1    B               17.5              22.7
24    49         A1    B               16.9              21.4
25    80         A1    B               16.5              20.8
26    35         A1    B               17.2              22.5
27    35         A1    B               17.2              22.5
28   283         A1    B               22.2              21.7
29   283         A1    B               23.8              23.2
30   283         A1    B               23.8              23.2
31   280         A1    B               20.8              20.6
32   280         A1    B               22.0              19.8
33   515         A1    B               23.4              21.5
34   125         A1    B               15.2              18.8
35   104         A1    B               16.0              19.6
36   107         A1    B               19.0              21.1
37    81         A1    B               17.5              22.7
38    49         A1    B               16.9              21.4
39    80         A1    B               16.5              20.8
40    80         A1    B               17.0              20.7
41    35         A1    B               17.2              22.5
42    35         A1    B               17.2              22.5
43   283         A1    B               22.2              21.7
44   283         A1    B               23.8              23.2
45   283         A1    B               23.8              23.2
46   386         A1    B               20.8              20.6
47   386         A1    B               22.0              19.8
48   386         A1    B               20.8              19.7
49   568         A1    B               23.4              21.5
50   568         A1    B               22.9              21.0
51   386         A1    B               23.2              22.2
52   568         A1    B               23.6              23.3

    COMB (kWh/100 km)  CITY (Le/100 km)  HWY (Le/100 km)  COMB (Le/100 km)  \
0                18.7               1.9              2.4               2.1
1                21.1               2.2              2.6               2.4
2                20.0               2.1              2.4               2.2
3                18.7               1.9              2.4               2.1
4                21.1               2.2              2.6               2.4
5                19.6               1.9              2.5               2.2
6                19.6               1.9              2.5               2.2
7                22.2               2.5              2.5               2.5
8                21.9               2.5              2.4               2.5
9                23.6               2.7              2.6               2.6
10               23.6               2.7              2.6               2.6
11               17.8               1.8              2.2               2.0
12               20.0               2.1              2.4               2.2
13               18.7               1.9              2.4               2.1
14               18.4               1.9              2.3               2.1
15               19.6               1.9              2.5               2.2
16               19.6               1.9              2.5               2.2
17               21.9               2.5              2.4               2.5
18               23.6               2.7              2.6               2.6
19               23.6               2.7              2.6               2.6
20               16.8               1.7              2.1               1.9
21               17.8               1.8              2.2               2.0
22               20.0               2.1              2.4               2.2
23               19.9               2.0              2.6               2.2
24               18.7               1.9              2.4               2.1
25               18.4               1.9              2.3               2.1
26               19.6               1.9              2.5               2.2
27               19.6               1.9              2.5               2.2
28               21.9               2.5              2.4               2.5
29               23.6               2.7              2.6               2.6
30               23.6               2.7              2.6               2.6
31               20.7               2.3              2.3               2.3
32               21.0               2.5              2.2               2.4
33               22.5               2.6              2.4               2.5
34               16.8               1.7              2.1               1.9
35               17.8               1.8              2.2               2.0
36               20.0               2.1              2.4               2.2
37               19.9               2.0              2.6               2.2
38               18.7               1.9              2.4               2.1
39               18.4               1.9              2.3               2.1
40               18.6               1.9              2.3               2.1
41               19.6               1.9              2.5               2.2
42               19.6               1.9              2.5               2.2
43               21.9               2.5              2.4               2.5
44               23.6               2.7              2.6               2.6
45               23.6               2.7              2.6               2.6
46               20.7               2.3              2.3               2.3
47               21.0               2.5              2.2               2.4
48               20.3               2.3              2.2               2.3
49               22.5               2.6              2.4               2.5
50               22.1               2.6              2.4               2.5
51               22.7               2.6              2.5               2.6
52               23.5               2.7              2.6               2.6

    (g/km)  RATING  (km)  TIME (h)
0        0     NaN   100         7
1        0     NaN   117         7
2        0     NaN   122         4
3        0     NaN   100         7
4        0     NaN   117         7
5        0     NaN   109         8
6        0     NaN   109         8
7        0     NaN   224         6
8        0     NaN   335        10
9        0     NaN   426        12
10       0     NaN   426        12
11       0     NaN   131         7
12       0     NaN   122         4
13       0     NaN   100         7
14       0     NaN   135         5
15       0     NaN   109         8
16       0     NaN   109         8
17       0     NaN   335        10
18       0     NaN   426        12
19       0     NaN   426        12
20       0     NaN   130         4
21       0     NaN   131         7
22       0     NaN   122         4
23       0     NaN   149         4
24       0     NaN   100         7
25       0     NaN   135         5
26       0     NaN   109         8
27       0     NaN   109         8
28       0     NaN   335        10
29       0     NaN   377        12
30       0     NaN   426        12
31       0     NaN   386        12
32       0     NaN   435        12
33       0     NaN   407        12
34       0    10.0   130         4
35       0    10.0   131         7
36       0    10.0   122         4
37       0    10.0   149         4
38       0    10.0   100         7
39       0    10.0   135         5
40       0    10.0   172         6
41       0    10.0   109         8
42       0    10.0   109         8
43       0    10.0   335        10
44       0    10.0   377        12
45       0    10.0   426        12
46       0    10.0   386        12
47       0    10.0   435        12
48       0    10.0   473        12
49       0    10.0   407        12
50       0    10.0   435        12
51       0    10.0   414        12
52       0    10.0   402        12

In [20]:
# (3) Access the rows and columns.

# Accessing the first few rows and columns of each table 
print(cars.head())

   YEAR        Make           Model        Size  (kW) Unnamed: 5 TYPE  \
0  2012  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
1  2012      NISSAN            LEAF    MID-SIZE    80         A1    B
2  2013        FORD  FOCUS ELECTRIC     COMPACT   107         A1    B
3  2013  MITSUBISHI          i-MiEV  SUBCOMPACT    49         A1    B
4  2013      NISSAN            LEAF    MID-SIZE    80         A1    B

   CITY (kWh/100 km)  HWY (kWh/100 km)  COMB (kWh/100 km)  CITY (Le/100 km)  \
0               16.9              21.4               18.7               1.9
1               19.3              23.0               21.1               2.2
2               19.0              21.1               20.0               2.1
3               16.9              21.4               18.7               1.9
4               19.3              23.0               21.1               2.2

   HWY (Le/100 km)  COMB (Le/100 km)  (g/km)  RATING  (km)  TIME (h)
0              2.4               2.1       0     NaN   100         7
1              2.6               2.4       0     NaN   117         7
2              2.4               2.2       0     NaN   122         4
3              2.4               2.1       0     NaN   100         7
4              2.6               2.4       0     NaN   117         7

In [21]:
# Only Retrieve data with Make Tesla 

tesla = cars[cars.Make == 'TESLA']
print(tesla)

    YEAR   Make                        Model            Size  (kW) Unnamed: 5  \
7   2013  TESLA     MODEL S (40 kWh battery)       FULL-SIZE   270         A1
8   2013  TESLA     MODEL S (60 kWh battery)       FULL-SIZE   270         A1
9   2013  TESLA     MODEL S (85 kWh battery)       FULL-SIZE   270         A1
10  2013  TESLA          MODEL S PERFORMANCE       FULL-SIZE   310         A1
17  2014  TESLA     MODEL S (60 kWh battery)       FULL-SIZE   225         A1
18  2014  TESLA     MODEL S (85 kWh battery)       FULL-SIZE   270         A1
19  2014  TESLA          MODEL S PERFORMANCE       FULL-SIZE   310         A1
28  2015  TESLA     MODEL S (60 kWh battery)       FULL-SIZE   283         A1
29  2015  TESLA     MODEL S (70 kWh battery)       FULL-SIZE   283         A1
30  2015  TESLA  MODEL S (85/90 kWh battery)       FULL-SIZE   283         A1
31  2015  TESLA                  MODEL S 70D       FULL-SIZE   280         A1
32  2015  TESLA              MODEL S 85D/90D       FULL-SIZE   280         A1
33  2015  TESLA            MODEL S P85D/P90D       FULL-SIZE   515         A1
43  2016  TESLA     MODEL S (60 kWh battery)       FULL-SIZE   283         A1
44  2016  TESLA     MODEL S (70 kWh battery)       FULL-SIZE   283         A1
45  2016  TESLA  MODEL S (85/90 kWh battery)       FULL-SIZE   283         A1
46  2016  TESLA                  MODEL S 70D       FULL-SIZE   386         A1
47  2016  TESLA              MODEL S 85D/90D       FULL-SIZE   386         A1
48  2016  TESLA        MODEL S 90D (Refresh)       FULL-SIZE   386         A1
49  2016  TESLA            MODEL S P85D/P90D       FULL-SIZE   568         A1
50  2016  TESLA       MODEL S P90D (Refresh)       FULL-SIZE   568         A1
51  2016  TESLA                  MODEL X 90D  SUV - STANDARD   386         A1
52  2016  TESLA                 MODEL X P90D  SUV - STANDARD   568         A1

   TYPE  CITY (kWh/100 km)  HWY (kWh/100 km)  COMB (kWh/100 km)  \
7     B               22.4              21.9               22.2
8     B               22.2              21.7               21.9
9     B               23.8              23.2               23.6
10    B               23.9              23.2               23.6
17    B               22.2              21.7               21.9
18    B               23.8              23.2               23.6
19    B               23.9              23.2               23.6
28    B               22.2              21.7               21.9
29    B               23.8              23.2               23.6
30    B               23.8              23.2               23.6
31    B               20.8              20.6               20.7
32    B               22.0              19.8               21.0
33    B               23.4              21.5               22.5
43    B               22.2              21.7               21.9
44    B               23.8              23.2               23.6
45    B               23.8              23.2               23.6
46    B               20.8              20.6               20.7
47    B               22.0              19.8               21.0
48    B               20.8              19.7               20.3
49    B               23.4              21.5               22.5
50    B               22.9              21.0               22.1
51    B               23.2              22.2               22.7
52    B               23.6              23.3               23.5

    CITY (Le/100 km)  HWY (Le/100 km)  COMB (Le/100 km)  (g/km)  RATING  (km)  \
7                2.5              2.5               2.5       0     NaN   224
8                2.5              2.4               2.5       0     NaN   335
9                2.7              2.6               2.6       0     NaN   426
10               2.7              2.6               2.6       0     NaN   426
17               2.5              2.4               2.5       0     NaN   335
18               2.7              2.6               2.6       0     NaN   426
19               2.7              2.6               2.6       0     NaN   426
28               2.5              2.4               2.5       0     NaN   335
29               2.7              2.6               2.6       0     NaN   377
30               2.7              2.6               2.6       0     NaN   426
31               2.3              2.3               2.3       0     NaN   386
32               2.5              2.2               2.4       0     NaN   435
33               2.6              2.4               2.5       0     NaN   407
43               2.5              2.4               2.5       0    10.0   335
44               2.7              2.6               2.6       0    10.0   377
45               2.7              2.6               2.6       0    10.0   426
46               2.3              2.3               2.3       0    10.0   386
47               2.5              2.2               2.4       0    10.0   435
48               2.3              2.2               2.3       0    10.0   473
49               2.6              2.4               2.5       0    10.0   407
50               2.6              2.4               2.5       0    10.0   435
51               2.6              2.5               2.6       0    10.0   414
52               2.7              2.6               2.6       0    10.0   402

    TIME (h)
7          6
8         10
9         12
10        12
17        10
18        12
19        12
28        10
29        12
30        12
31        12
32        12
33        12
43        10
44        12
45        12
46        12
47        12
48        12
49        12
50        12
51        12
52        12

In [22]:
# Getting distinct values of the make of the cars. 
print(cars.Make.unique())

['MITSUBISHI' 'NISSAN' 'FORD' 'SMART' 'TESLA' 'CHEVROLET' 'BMW' 'KIA']

In [23]:
# (4) Drop some columns.
# Dropping columns: Unnamed: 5; RATING; TYPE; COMB (Le/100 km); COMB (kWh/100 km); (g/km)

cars.drop(['Unnamed: 5', 'RATING', 'TYPE', 'COMB (Le/100 km)', 'COMB (kWh/100 km)', '(g/km)'], axis = 1)

,YEAR,Make,Model,Size,(kW),CITY (kWh/100 km),HWY (kWh/100 km),CITY (Le/100 km),HWY (Le/100 km),(km),TIME (h)
0,2012,MITSUBISHI,i-MiEV,SUBCOMPACT,49,16.9,21.4,1.9,2.4,100,7
1,2012,NISSAN,LEAF,MID-SIZE,80,19.3,23.0,2.2,2.6,117,7
2,2013,FORD,FOCUS ELECTRIC,COMPACT,107,19.0,21.1,2.1,2.4,122,4
3,2013,MITSUBISHI,i-MiEV,SUBCOMPACT,49,16.9,21.4,1.9,2.4,100,7
4,2013,NISSAN,LEAF,MID-SIZE,80,19.3,23.0,2.2,2.6,117,7
5,2013,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
6,2013,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
7,2013,TESLA,MODEL S (40 kWh battery),FULL-SIZE,270,22.4,21.9,2.5,2.5,224,6
8,2013,TESLA,MODEL S (60 kWh battery),FULL-SIZE,270,22.2,21.7,2.5,2.4,335,10
9,2013,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,23.8,23.2,2.7,2.6,426,12
10,2013,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,23.9,23.2,2.7,2.6,426,12
11,2014,CHEVROLET,SPARK EV,SUBCOMPACT,104,16.0,19.6,1.8,2.2,131,7
12,2014,FORD,FOCUS ELECTRIC,COMPACT,107,19.0,21.1,2.1,2.4,122,4
13,2014,MITSUBISHI,i-MiEV,SUBCOMPACT,49,16.9,21.4,1.9,2.4,100,7
14,2014,NISSAN,LEAF,MID-SIZE,80,16.5,20.8,1.9,2.3,135,5
15,2014,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
16,2014,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
17,2014,TESLA,MODEL S (60 kWh battery),FULL-SIZE,225,22.2,21.7,2.5,2.4,335,10
18,2014,TESLA,MODEL S (85 kWh battery),FULL-SIZE,270,23.8,23.2,2.7,2.6,426,12
19,2014,TESLA,MODEL S PERFORMANCE,FULL-SIZE,310,23.9,23.2,2.7,2.6,426,12
20,2015,BMW,i3,SUBCOMPACT,125,15.2,18.8,1.7,2.1,130,4
21,2015,CHEVROLET,SPARK EV,SUBCOMPACT,104,16.0,19.6,1.8,2.2,131,7
22,2015,FORD,FOCUS ELECTRIC,COMPACT,107,19.0,21.1,2.1,2.4,122,4
23,2015,KIA,SOUL EV,STATION WAGON - SMALL,81,17.5,22.7,2.0,2.6,149,4
24,2015,MITSUBISHI,i-MiEV,SUBCOMPACT,49,16.9,21.4,1.9,2.4,100,7
25,2015,NISSAN,LEAF,MID-SIZE,80,16.5,20.8,1.9,2.3,135,5
26,2015,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
27,2015,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
28,2015,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,22.2,21.7,2.5,2.4,335,10
29,2015,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,23.8,23.2,2.7,2.6,377,12
30,2015,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,23.8,23.2,2.7,2.6,426,12
31,2015,TESLA,MODEL S 70D,FULL-SIZE,280,20.8,20.6,2.3,2.3,386,12
32,2015,TESLA,MODEL S 85D/90D,FULL-SIZE,280,22.0,19.8,2.5,2.2,435,12
33,2015,TESLA,MODEL S P85D/P90D,FULL-SIZE,515,23.4,21.5,2.6,2.4,407,12
34,2016,BMW,i3,SUBCOMPACT,125,15.2,18.8,1.7,2.1,130,4
35,2016,CHEVROLET,SPARK EV,SUBCOMPACT,104,16.0,19.6,1.8,2.2,131,7
36,2016,FORD,FOCUS ELECTRIC,COMPACT,107,19.0,21.1,2.1,2.4,122,4
37,2016,KIA,SOUL EV,STATION WAGON - SMALL,81,17.5,22.7,2.0,2.6,149,4
38,2016,MITSUBISHI,i-MiEV,SUBCOMPACT,49,16.9,21.4,1.9,2.4,100,7
39,2016,NISSAN,LEAF (24 kWh battery),MID-SIZE,80,16.5,20.8,1.9,2.3,135,5
40,2016,NISSAN,LEAF (30 kWh battery),MID-SIZE,80,17.0,20.7,1.9,2.3,172,6
41,2016,SMART,FORTWO ELECTRIC DRIVE CABRIOLET,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
42,2016,SMART,FORTWO ELECTRIC DRIVE COUPE,TWO-SEATER,35,17.2,22.5,1.9,2.5,109,8
43,2016,TESLA,MODEL S (60 kWh battery),FULL-SIZE,283,22.2,21.7,2.5,2.4,335,10
44,2016,TESLA,MODEL S (70 kWh battery),FULL-SIZE,283,23.8,23.2,2.7,2.6,377,12
45,2016,TESLA,MODEL S (85/90 kWh battery),FULL-SIZE,283,23.8,23.2,2.7,2.6,426,12
46,2016,TESLA,MODEL S 70D,FULL-SIZE,386,20.8,20.6,2.3,2.3,386,12
47,2016,TESLA,MODEL S 85D/90D,FULL-SIZE,386,22.0,19.8,2.5,2.2,435,12
48,2016,TESLA,MODEL S 90D (Refresh),FULL-SIZE,386,20.8,19.7,2.3,2.2,473,12
49,2016,TESLA,MODEL S P85D/P90D,FULL-SIZE,568,23.4,21.5,2.6,2.4,407,12
50,2016,TESLA,MODEL S P90D (Refresh),FULL-SIZE,568,22.9,21.0,2.6,2.4,435,12
51,2016,TESLA,MODEL X 90D,SUV - STANDARD,386,23.2,22.2,2.6,2.5,414,12
52,2016,TESLA,MODEL X P90D,SUV - STANDARD,568,23.6,23.3,2.7,2.6,402,12